.st0 {
    fill: #e5e5e5;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st1 {
    /* fill: #eb8a28;
    stroke: #eb8a28; */
    fill: #e5e5e5;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st2 {
    /* fill: #29b6ff;
    stroke: #ffffff; */
    fill: #e5e5e5;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st3 {
    /* fill: #d4a72c;
    stroke: #ffffff; */
    fill: #e5e5e5;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st4 {
    /* fill: #f8f833;
    stroke: #ffffff; */
    fill: #e5e5e5;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st5 {
    fill: #fc6565;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #0e7bc4;
    stroke: #ffffff;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #0e7bc4;
    stroke: #a5bc53;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st8 {
    /* fill: url(#Path_15728-2_1_);
    stroke: #ffffff; */
    fill: #e5e5e5;
    stroke: #ffffff;

    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st9 {
    /* fill: #5fb2cc;
    stroke: #ffffff; */
    fill: #e5e5e5;
    stroke: #ffffff;

    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st10 {
    fill: #e5e5e5;
}

.st11 {
    fill: #e5e5e5;
    stroke: #f5f5f5;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st12 {
    fill: #2b850b;
}

.st13 {
    fill: none;
    stroke: #2b850b;
}

.st14 {
    /* fill: #29b6ff; */
    fill: #e5e5e5;
}

.st15 {
    /* fill: none;
    stroke: #29b6ff; */
    fill: #e5e5e5;
    stroke: #ffffff;
}

.st16 {
    /* fill: #d4a72c; */
    fill: #e5e5e5;
}

.st17 {
    /* fill: none;
    stroke: #d4a72c; */
}

.st18 {
    /* fill: #293695; */
    fill: #e5e5e5;
}

.st19 {
    /* fill: none;
    stroke: #283594; */
    fill: #e5e5e5;
    stroke: #ffffff;
}

.st20 {
    fill: #0e7bc4;
}

.st21 {
    fill: none;
    stroke: #0e7bc4;
}

.st22 {
    fill: #d11919;
}

.st23 {
    fill: none;
    stroke: #d11919;
}

.st24 {
    /* fill: #808080; */
    fill: none;
}

.st25 {
    fill: none;
    stroke: none;
}

.st26 {
    /* fill: #5fb2cc; */
    fill: none;
    stroke: none;
}

.st27 {
    fill: none;
    /* stroke: #5fb2cc; */
    stroke: none;
}

.st28 {
    /* fill: #eb8a28; */
    fill: none;
}

.st29 {
    fill: none;
    /* stroke: #eb8a28; */
    stroke: none;
}

.st30 {
    fill: url(#Path_15775-10_1_);
}

.st31 {
    fill: none;
}

.st32 {
    /* fill: url(#Path_15775-13_1_); */
    fill: none;
}

.st33 {
    /* fill: #323eaa; */
    fill: none;
}

.st34 {
    /* fill: #7b7b7b; */
    fill: none;
}

.st35 {
    font-family: "Campton-BoldDEMO";
}

.st36 {
    font-size: 20px;
}

.st37 {
    /* fill: #202e81; */
    fill: none;
}
