@import "../../../shared/assets/Fonts/fonts";
@import "../../../shared/assets/CSS/colors.css";

.Home {
    /* width: 100vw;
    height: calc( 100vh - 66px); */
    width: 100vw;
    /* Change Here */
    height: calc(100vh - 86px);
    /* font-family: var(--aargau) !important; */
    padding: 2rem;
    /* max-height: 1320px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    text-align: left;
}

.HomeWidth {
    width: 85%;
    height: 100%;
    display: flex;
    /* max-width: 1420px; */
    /* border: 1px solid red; */
    /* background-color: pink; */
}

.Left,
.Right {
    width: 50vw;
    /* padding-top: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.Left {
    justify-content: flex-start;
}

.LeftDiv {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.LeftDiv h1 {
    /* font-size: 5rem; */
    font-family: var(--aargau) !important;
    font-size: calc(2.2vw + 2.2vh + 2.2vmin);
    color: var(--secondary-red);
}
.LeftDiv p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -30px;
}
.LeftDiv span {
    display: block;
    width: 100%;
    min-width: 300px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.LeftDiv a {
    margin-top: 20px;
    padding: 0.7rem 4rem;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-purple);
    font-size: 1.1rem;
    cursor: pointer;
}
.LeftDiv img {
    position: absolute;
    top: 13px;
    width: 63px;
    left: 10px;
}

.Right img {
    /* border: 1px solid red; */
    width: 100%;
    min-width: 350px;
}

.aboutBtns {
    display: flex;
}

.aboutBtns a:nth-child(1) {
    margin-right: 10px;
}

.Form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px 20px;
}
.Form h1,
.bookingDialog h1 {
    font-family: var(--aargau) !important;
    font-size: calc(1.2vw + 1.2vh + 16px);
    color: var(--secondary-red);
    margin-right: auto;
    margin-bottom: 10px;
}
.bookingDialog {
    padding: 20px;
}
.bookingDialog h1 {
    font-size: 32px;
}
.bookingDialog p {
    font-size: 24px;
    margin: 20px 0;
}
.bookingDialog p {
    display: inline-block;
    margin: 10px 0;
    margin-right: 20px;
}
.bookingDialog p span {
    display: inline-block;
    font-size: 24px !important;
    color: var(--primary-red);
}
.bookingDialog button,
.bookingDialog button:hover {
    display: block;
    margin-left: auto;
    background: var(--primary-purple);
    color: #fff;
}
.Form a {
    padding: 0.7rem 4rem;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-purple);
    font-size: 1.1rem;
    cursor: pointer;
    display: block;
}

.FormElement {
    width: 100%;
    margin-bottom: 12px;
}
.FormElement input,
.FormElement textarea,
.formDate input {
    display: block;
    width: 100%;
    padding: 0.8rem 0.8rem;
    border-radius: 8px;
    border: 1px solid #707070;
    font: inherit;
}
.FormElement textarea {
    height: 150px;
}
.FormElement p {
    font-size: 0.85rem;
    color: var(--primary-red);
}

.formDate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.formDate input {
    flex: 1 !important;
    margin-bottom: 10px;
}

.progressBar {
    color: red;
    height: 50px;
    margin: auto;
}

@media (max-width: 850px) {
    .Right img {
        display: none;
    }
}
@media (max-width: 450px) {
    .formDate input {
        flex: 1;
        min-width: 175px;
    }
    .LeftDiv p {
        margin-bottom: -20px;
    }

    .aboutBtns {
        flex-wrap: wrap;
    }
}
