@import "../../../shared/assets/Fonts/fonts";
@import "../../../shared/assets/CSS/colors.css";

.Home {
    /* width: 100vw;
    height: calc( 100vh - 66px); */
    width: 100vw;
    /* Change Here */
    height: calc(100vh - 86px);
    /* font-family: var(--aargau) !important; */
    padding: 2rem;
    /* max-height: 1320px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../shared/assets/Images/Careers.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    margin-top: 66px;
    text-align: left;
}

.HomeWidth {
    width: 85%;
    height: 100%;
    display: flex;
    /* max-width: 1420px; */
    /* border: 1px solid red; */
    /* background-color: pink; */
}

.Left,
.Right {
    width: 75vw;
    /* padding-top: 5rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.Left {
    justify-content: flex-start;
}

.LeftDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.LeftDiv h1 {
    font-family: var(--aargau) !important;
    /* font-size: 5rem; */
    font-size: calc(2.2vw + 2.2vh + 2.2vmin);
    color: var(--secondary-red);
}
.LeftDiv p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: -30px;
}
.LeftDiv span {
    display: block;
    max-width: 450px;
    width: 100%;
    font-size: 1.1rem;
    min-width: 300px;
    margin-bottom: 10px;
}

.LeftDiv a {
    margin-top: 20px;
    padding: 0.7rem 4rem;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-purple);
    font-size: 1.1rem;
    cursor: pointer;
}
.LeftDiv img {
    position: absolute;
    top: 13px;
    width: 63px;
    left: 10px;
}

.Right img {
    /* border: 1px solid red; */
    width: 100%;
}

@media (max-width: 775px) {
    .LeftDiv p {
        margin-bottom: -20px;
    }

    .Home {
        background: none;
    }
}
